﻿@model IEnumerable<BOL.tbl_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>

<h2>Categories</h2>

@if (TempData["Msg"] != null)
{
    <h3>
        @TempData["Msg"].ToString()
    </h3>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Category", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "CategoryName", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "CategoryDesc", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryDesc)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new { onclick =  "return ConfirmDelete()"})
        </td>
    </tr>
}

</table>

@{
    double TotalPages = ViewBag.TotalPages;
}
@for (int i = 1; i <= TotalPages; i++)
{
    if (i == ViewBag.Page)
    {
        <b>@Html.ActionLink(i.ToString(), "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = (ViewBag.SortBy == null) ? "CategoryName" : ViewBag.SortBy, Page = i })</b>
    }
    else
    {
        @Html.ActionLink(i.ToString(), "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = (ViewBag.SortBy == null) ? "CategoryName" : ViewBag.SortBy, Page = i })
    }
}