﻿@model IEnumerable<BOL.tbl_Url>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>URLs</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc": (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Title", Page = (ViewBag.Page == null ? "1" : ViewBag.Page)})
        </th>
        <th>
            @Html.ActionLink("URL", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Url", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "UrlDesc", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th>
            @Html.ActionLink("Category", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "Category", Page = (ViewBag.Page == null ? "1" : ViewBag.Page) })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrlTitle)
        </td>
        <td>
            <a target="_blank" href="@item.Url">@item.Url</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)
        </td>
    </tr>
}

</table>

@{
    double TotalPages = ViewBag.TotalPages;
}
@for (int i = 1; i <= TotalPages; i++)
{
    if (i == ViewBag.Page)
    {
        <b>@Html.ActionLink(i.ToString(), "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = (ViewBag.SortBy == null) ? "Title" : ViewBag.SortBy, Page = i })</b>
    }
    else
    { 
        @Html.ActionLink(i.ToString(), "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), SortBy = (ViewBag.SortBy == null) ? "Title" : ViewBag.SortBy, Page = i})
    }
}