﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LinkHub", "Index", "Home", new { Area = "Common" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", new {Controller = "Home", Area = "Common"})</li>
                    <li>@Html.ActionLink("Category", "Index", new { Controller = "Category", Area = "Admin" })</li>
                    <li>@Html.ActionLink("List Category", "Index", new { Controller = "ListCategory", Area = "Admin" })</li>
                    <li>@Html.ActionLink("Register", "Index", new { Controller = "Register", Area = "Security" })</li>
                    <li>@Html.ActionLink("Submit URL", "Index", new { Controller = "URL", Area = "User" })</li>
                    <li>@Html.ActionLink("Approve URLs", "Index", new { Controller = "ApproveURLs", Area = "Admin" })</li>
                    <li>@Html.ActionLink("Browse URLs", "Index", new { Controller = "BrowseURL", Area = "Common" })</li>
                    <li>@Html.ActionLink("List Users", "Index", new { Controller = "ListUser", Area = "Admin" })</li>
                    <li>@Html.ActionLink("Login", "Index", new { Controller = "Login", Area = "Security" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>